force-app/main/default/flows/MargeIdeaFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>紐づく子アイデアのアイデア投票合計値を変数（curMergePoints）に追加</description>
        <name>SetCurMergeIdeasPoint</name>
        <label>アイデアポイント合計（更新後マージ対象アイデア）</label>
        <locationX>1047</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>curMergePoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curChildIdeaRow.PointsTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCurMergeIdeasChildsPointTotal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>紐づく子アイデアのアイデア投票合計値を変数（preMergePoints）に追加</description>
        <name>SetPreMergeIdeasPoint</name>
        <label>アイデアポイント合計（更新前マージ対象アイデア）</label>
        <locationX>1052</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>preMergePoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>preChildIdeaRow.PointsTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPreMergeIdeasChildsPointTotal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>更新後マージ対象アイデアID有無</description>
        <name>IsExistCurMergeIdeaId</name>
        <label>更新後マージ対象アイデアID有無</label>
        <locationX>225</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>無</defaultConnectorLabel>
        <rules>
            <name>ExistCur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curMergeIdeaId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetCurMergeIdeaIdsIdeaList_0</targetReference>
            </connector>
            <label>有</label>
        </rules>
    </decisions>
    <decisions>
        <description>更新後マージ対象アイデアに紐づくアイデアが存在するか判定する。</description>
        <name>IsExistCurMergeIdeaRow</name>
        <label>子アイデア有無（更新後マージ対象アイデアに紐づく情報）</label>
        <locationX>565</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>UpdateCurIdeaPostRow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>無</defaultConnectorLabel>
        <rules>
            <name>isExistCurMergeIdea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curMergeIdeaIdsIdeaList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCurMergeIdeasChildsPointTotal</targetReference>
            </connector>
            <label>有</label>
        </rules>
    </decisions>
    <decisions>
        <description>更新前マージ対象アイデアID有無</description>
        <name>IsExistPreMergeIdeaId</name>
        <label>更新前マージ対象アイデアID有無</label>
        <locationX>225</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>IsExistCurMergeIdeaId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>無</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>preMergeIdeaId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetPreMergeIdeaIdsIdeaList</targetReference>
            </connector>
            <label>有</label>
        </rules>
    </decisions>
    <decisions>
        <description>更新前マージ対象アイデアに紐づくアイデアが存在するか判定する。</description>
        <name>IsExistPreMergeIdeaRow</name>
        <label>子アイデア有無（更新前マージ対象アイデアに紐づく情報）</label>
        <locationX>556</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>UpdatePreIdeaPostRow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>無</defaultConnectorLabel>
        <rules>
            <name>isExistPreMergeIdea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>preMergeIdeaIdsIdeaList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopPreMergeIdeasChildsPointTotal</targetReference>
            </connector>
            <label>有</label>
        </rules>
    </decisions>
    <description>処理対象のアイデアのポイントをマージ対象アイデアのポイントに加算減算し更新する。</description>
    <interviewLabel>MargeIdeaFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MargeIdeaFlow</label>
    <loops>
        <description>更新後マージ対象アイデアに紐づく子アイデアが持つポイントを合計する。</description>
        <name>LoopCurMergeIdeasChildsPointTotal</name>
        <label>子アイデア（更新後マージ対象アイデア）ポイント合計処理</label>
        <locationX>797</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>curChildIdeaRow</assignNextValueToReference>
        <collectionReference>curMergeIdeaIdsIdeaList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetCurMergeIdeasPoint</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCurIdeaPostRow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>更新前マージ対象アイデアに紐づく子アイデアが持つポイントを合計する。</description>
        <name>LoopPreMergeIdeasChildsPointTotal</name>
        <label>子アイデア（更新前マージ対象アイデア）ポイント合計処理</label>
        <locationX>828</locationX>
        <locationY>308</locationY>
        <assignNextValueToReference>preChildIdeaRow</assignNextValueToReference>
        <collectionReference>preMergeIdeaIdsIdeaList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetPreMergeIdeasPoint</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePreIdeaPostRow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>更新後マージ対象アイデアIdに紐づく子アイデア投稿情報取得(処理対象のアイデアも含む)</description>
        <name>GetCurMergeIdeaIdsIdeaList_0</name>
        <label>更新後マージ対象アイデア取得</label>
        <locationX>230</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsExistCurMergeIdeaRow</targetReference>
        </connector>
        <filters>
            <field>ParentIdea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curMergeIdeaId</elementReference>
            </value>
        </filters>
        <object>IdeaPost__c</object>
        <outputReference>curMergeIdeaIdsIdeaList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PointsTotal__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>更新前マージ対象アイデアIdに紐づく子アイデア投稿情報取得(処理対象のアイデア含まない)</description>
        <name>GetPreMergeIdeaIdsIdeaList</name>
        <label>更新前マージ対象アイデア取得</label>
        <locationX>406</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsExistPreMergeIdeaRow</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>curIdeaId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentIdea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>preMergeIdeaId</elementReference>
            </value>
        </filters>
        <object>IdeaPost__c</object>
        <outputReference>preMergeIdeaIdsIdeaList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PointsTotal__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>更新後マージ対象アイデアを更新</description>
        <name>UpdateCurIdeaPostRow</name>
        <label>更新後マージ対象アイデア更新</label>
        <locationX>565</locationX>
        <locationY>780</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curMergeIdeaId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MergeOriginalIdeasPoints__c</field>
            <value>
                <elementReference>curMergePoints</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentIdeaFlg__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IdeaPost__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>更新前マージ対象アイデアを更新</description>
        <name>UpdatePreIdeaPostRow</name>
        <label>更新前マージ対象アイデア更新</label>
        <locationX>559</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>IsExistCurMergeIdeaId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>preMergeIdeaId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MergeOriginalIdeasPoints__c</field>
            <value>
                <elementReference>preMergePoints</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentIdeaFlg__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>IdeaPost__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsExistPreMergeIdeaId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>更新後マージ対象アイデアに紐づく子アイデアレコード</description>
        <name>curChildIdeaRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IdeaPost__c</objectType>
    </variables>
    <variables>
        <description>処理対象アイデアID</description>
        <name>curIdeaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>更新後、マージ対象アイデアId</description>
        <name>curMergeIdeaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>更新後のマージ対象アイデアと紐づく子アイデアの投稿リスト</description>
        <name>curMergeIdeaIdsIdeaList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IdeaPost__c</objectType>
    </variables>
    <variables>
        <description>更新後マージ対象アイデアの投票合計</description>
        <name>curMergePoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>更新前マージ対象アイデアに紐づく子アイデアレコード</description>
        <name>preChildIdeaRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IdeaPost__c</objectType>
    </variables>
    <variables>
        <description>更新前、マージ対象アイデアId</description>
        <name>preMergeIdeaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>更新前のマージ対象アイデアと紐づく子アイデアの投稿リスト</description>
        <name>preMergeIdeaIdsIdeaList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IdeaPost__c</objectType>
    </variables>
    <variables>
        <description>更新前マージ対象アイデアの投票合計</description>
        <name>preMergePoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
